.choiseBlock{

  button{
    margin-right: 20px;

    font-weight: bold;
    font-size: 16px;

    border-radius: 15px;
    border: none;

    padding: 15px 30px;
    margin-top: 20px;
    
    background-color: #8a17e7;
    color: #fff;
    
    cursor: pointer;
  }
}