.result {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .result__description{
    
    margin: 20px auto;
    padding: 20px;

    background-color: rgb(233, 233, 233);
    border-radius: 15px;

    font-size: large;
    line-height: 30px;
  }

  button {
    font-weight: bold;
    font-size: 22px;

    border-radius: 15px;
    border: none;

    padding: 15px 30px;
    margin-top: 20px;
    
    background-color: #8a17e7;
    color: #fff;
    
    cursor: pointer;
  }

  h2 {
    margin-bottom: 0;
  }

  img {
    margin: 0 auto;
    width: 500px;
  }
}


